.hidden-text-input, .hidden-link-input {
  display: none !important;
}
.pop-form {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(100, 100, 100, 0.91);
  transition: opacity .5s;
  &.show-popup {
	opacity: 1;
	pointer-events: all;
	transition: opacity .5s;
  }
}
.curr-body-hidden {
  overflow: hidden;
}
.float-form {
  position: relative;
  width: calc(100% - 10px);
  max-height: 95vh;
  transition: all .5s;
  z-index: 99999999999;
  transform: translateY(-100%);
  overflow-y: auto;
  opacity: 0;
  background-color: #ffffff;
  &.show-float-form {
	opacity: 1;
	transform: translateY(0);
  }
  .form-col {
	position: relative;
	padding: size(45);
  }
}
.close-form {
  position: absolute;
  top: size(15);
  right: size(20);
  cursor: pointer;
  img {
	width: size(22);
  }
}
//Form styles
.wpcf7-form {
  * {
	direction: rtl !important;
  }
  ::placeholder {
	@include form-text;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include form-text;
  }
}
div.wpcf7 input[type="text"],
div.wpcf7 input[type="email"],
div.wpcf7 input[type="tel"],
div.wpcf7 textarea {
  @include form-text;
  @include input-style;
}
.form-control:focus {
  color: #000000;
  background-color: #fff;
  border-color: $green-main;
  outline: 0;
  box-shadow: unset;
}
div.wpcf7 textarea {
  height: size(134);
  padding: 8px;
}
div.wpcf7 input[type="text"] {
  background-image: url("../icons-all/form-name.png");
}
div.wpcf7 input[type="tel"] {
  background-image: url("../icons-all/form-tel.png");
}
div.wpcf7 input[type="email"] {
  background-image: url("../icons-all/form-mail.png");
}
div.wpcf7 input[type="submit"] {
  position: relative;
  @include d-center;
  @include input-style;
  padding: 0 8px;
  background-color: $blue-main;
  font-size: size(24);
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  width: 100%;
  border-radius: 0;
  border: none;
  transition: color, background-color .5s;
  &:hover {
	color: #ffffff;
	background-color: $green-main;
	transition: background-color .5s;
  }
}
.contact-form-col {
  div.wpcf7 input[type="submit"] {
	height: size(48);
	clip-path: polygon(1.5rem 0, 100% 0, calc(100% - 1.5rem) 100%, 0 100%);
  }
}
//Search form style
.form-part {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #e8e8e8;
  margin-bottom: 2rem;
  .form-group {
	margin-bottom: 0;
  }
  form {
	width: 100%;
	::placeholder {
	  color: #000000;
	}
	::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	  color: #000000;
	}
  }
  select {
	-webkit-appearance: none;
	padding-left: size(30);
	background-position: size(12) center;
	background-size: size(12);
	background-image: url("../icons-all/select-arrow.png");
  }
  select, input[type="text"] {
	line-height: 1rem;
	border: 2px solid #4b4b4b;
	color: #000000;
	font-weight: 300;
	background-color: transparent;
  }
  input[type="text"] {
	padding-right: size(30);
	background-position: calc(100% - 10px) center;
	background-size: size(15);
	background-image: url("../icons-all/search.png");
  }
  select, input[type="text"], button {
	border-radius: 0;
	font-size: size(17);
	height: size(37);
	background-repeat: no-repeat;
  }
  button {
	background-color: $blue-main;
	color: #ffffff;
	text-align: center;
	font-weight: 500;
	width: 100%;
	transition: background-color .5s;
	&:hover {
	  background-color: $green-main;
	  transition: background-color .5s;
	}
	&:after {
	  content: url("../icons-all/search.png");
	  margin: 0 4px;
	}
  }
}
