#MainNav{
  ul{
	display: flex;
	height: 100%;
	li{
	  display: flex;
	  justify-content: center;
	  padding: 0 size(10);
	  a{
		@include menu-text;
	  }
	  &:first-child {
		padding: 0 0 0 size(10);
	  }
	  &:last-child {
		padding: 0 size(10) 0 0;
	  }
	}
  }
}
.header-nav-col {
  position: relative;
  padding: size(32) size(160) 0 3rem;
  background-color: $blue-main;
  clip-path: polygon(0 0, calc(100% - 2.5rem) 0, 100% 100%, 2.5rem 100%);
  &:before, &:after {
	position: absolute;
	top: 0;
	content: '';
	display: block;
	background-color: $green-main;
	height: 100%;
	clip-path: polygon(0 0, calc(100% - 2.5rem) 0, 100% 100%, 2.5rem 100%);
  }
  &:before {
	width: size(90);
	right: 0;
  }
  &:after {
	width: size(70);
	right: size(60);
  }
}
.nav-col-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: size(17) 0;
  border-top: 2px solid #ffffff;
}
.logo img {
  max-height: size(35);
}
.languages {
  .active {
	display: none;
  }
  a {
	@include menu-text;
	&:hover {
	  color: $green-main;
	  transition: color .5s;
	}
  }
}
.wrap-search {
  padding: 0 10px;
}
.search-form {
  display: flex;
  align-items: center;
  border: 2px solid #ffffff;
  height: size(32);
}
.search-input {
  background-color: transparent;
  color: #ffffff;
  font-size: size(18);
  width: size(180);
  padding: 0;
  &::placeholder {
	color: #ffffff !important;
	font-size: size(18);
	font-weight: 300;
  }
}
.search-submit {
  width: size(32);
  height: size(32);
  background-image: url("../icons-all/search.png");
  background-position: center;
  background-size: size(15);
  background-repeat: no-repeat;
  background-color: transparent !important;
}
//Footer
.footer-main {
  background-color: #ebebeb;
  padding: size(55) 0 size(45) 0;
}
//Footer
#go-top {
  position: absolute;
  top: -5.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: $gray-main;
  z-index: 111;
  width: size(61);
  height: size(47);
  img {
	width: size(39);
	animation: jump 1.2s ease-in-out alternate infinite;
  }
}
.foo-form-row {
  position: relative;
  justify-content: center;
  align-items: flex-end;
}
.foo-title {
  color: #231f20;
  font-size: size(28);
  font-weight: 500;
  line-height: size(30);
  margin-bottom: 0.5rem;
}
.menu-border-top {
  border-top: 3px solid $green-main;
  padding-top: size(28);
}
.facebook-widget {
  overflow-x: hidden;
}
.hop-hey.two-columns {
  column-count: 2;
  column-gap: 2rem;
}
footer {
  position: relative;
  li {
	position: relative;
	padding-right: 10px;
	a, span {
	  font-size: size(19);
	  line-height: size(22);
	  font-weight: 300;
	  margin-bottom: 10px;
	  color: #231f20;
	}
	a:hover, span:hover {
	  color: $green-main;
	  cursor: pointer;
	  text-shadow: 0 0 1px rgba(0, 0, 0, 1);
	  transition: all .5s;
	}
  }
  .contact-list li {
	padding-right: 0;
	a, span {
	  display: flex;
	  align-items: center;
	}
  }
}
//Fixed socials
.fixed-socials {
  position: fixed;
  left: 0;
  top: 30%;
  display: flex;
  flex-direction: column;
  z-index: 12;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: size(62);
  height: size(46);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  background-color: $gray-main;
  margin-bottom: 9px;
  transition: background-color .5s;
  img {
	max-width: size(25);
  }
  &:hover {
	background-color: $green-main;
	transition: background-color .5s;
  }
}
