// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
          eot: "?",
          svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
          otf: "opentype",
          ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

// =============================================================================
// Pixel to REM
// =============================================================================


$base-size: 18;

@function size($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}


// usage: body {margin: size(20);}


// =============================================================================
// Media Query [Bootstrap 4 default queries]
// =============================================================================


@mixin extra-large-device-up {
  @media (min-width: 1200px) { @content; }
}
@mixin extra-large-device-down {
  @media (max-width: 1200px) { @content; }
}
@mixin large-device {
  @media (max-width: 992px) { @content; }
}
@mixin medium-device {
  @media (max-width: 768px) { @content; }
}
@mixin small-device {
  @media (max-width: 576px) { @content; }
}
@mixin base-link {
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  padding: 3px size(32);
  height: size(48);
  color: #ffffff;
  font-size: size(24);
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(24);
  text-align: center;
}
@mixin menu-text {
  color: #ffffff;
  font-size: size(16);
  line-height: size(16);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
}
@keyframes jump {
  0% {
	margin-bottom: 0;
  }
  100% {
	margin-bottom: 1rem;
  }
}
@keyframes jump-top {
  0% {
	margin-bottom: 0;
  }
  100% {
	margin-top: -1rem;
  }
}
@mixin input-style {
  height: size(41);
  padding-right: size(30);
  background-position: calc(100% - 6px) center;
  background-size: size(15);
  background-repeat: no-repeat;
  background-color: #ffffff;
  border: 2px solid #000000;
}
@mixin form-text {
  color: #000000;
  //text-align: right;
  font-size: size(19);
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(20);
}
@mixin d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
