/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1) {}
/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {}


//Bootstrap 4 breakpoints
@media (min-width: 1700px) {
  .post-title {
	font-size: size(17);
	line-height: size(18);
  }
  .post-title, .post-link {
	min-height: size(49);
  }
  .category-item {
	.post-title {
	  font-size: size(24);
	  line-height: size(25);
	}
  }
  .category-link {
	font-size: size(18);
	line-height: size(20);
  }
  #MainNav {
	ul {
	  li {
		padding: 0 size(20);
		a {
		  font-size: size(20);
		  line-height: size(22);
		}
	  }
	  &:first-child {
		padding: 0 0 0 size(20);
	  }
	  &:last-child {
		padding: 0 size(20) 0 0;
	  }
	}
  }
  .languages a {
	font-size: size(20);
	line-height: size(22);
  }
  .logo img {
	max-height: size(65);
  }
  .about-text {
	p, li {
	  font-size: size(25);
	  font-weight: 300;
	  line-height: size(35);
	}
	p, ul {
	  margin-bottom: size(40);
	}
	h1 {
	  font-size: size(40);
	  line-height: size(42);
	}
	h2 {
	  font-size: size(36);
	  line-height: size(38);
	}
	h3 {
	  font-size: size(32);
	  line-height: size(34);
	}
	h4 {
	  font-size: size(30);
	  line-height: size(32);
	}
	h5 {
	  font-size: size(28);
	  line-height: size(30);
	}
	h6 {
	  font-size: size(26);
	  line-height: size(28);
	}
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html{
    font-size: 20px;
  }
  .sidebar-col {
	position: relative;
	z-index: 999;
	margin-top: -5rem;
  }
}
@media (max-width: 1500px) {
  .single-search-col {
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 1rem !important;
  }
  .header-nav-col {
	padding: size(15) size(100) 0 3rem;
	clip-path: polygon(0 0, calc(100% - 2.5rem) 0, 100% 100%, 2.5rem 100%);
	&:before, &:after {
	  clip-path: polygon(0 0, calc(100% - 2.5rem) 0, 100% 100%, 2.5rem 100%);
	}
	&:before {
	  width: size(70);
	}
	&:after {
	  width: 3rem;
	  right: size(40);
	}
  }
  .product-link {
	padding: 5px 1.5rem;
	font-size: size(18);
	line-height: size(20);
	clip-path: polygon(1rem 0, 100% 0, calc(100% - 1rem) 100%, 0 100%);
  }
  .main-title {
	font-size: size(30);
	line-height: size(32);
	min-height: size(53);
	padding: 0 3rem;
	clip-path: polygon(0 0, calc(100% - 1rem) 0, 100% 100%, 1rem 100%);
	&:before, &:after {
	  clip-path: polygon(0 0, calc(100% - 1rem) 0, 100% 100%, 1rem 100%);
	}
	&:before {
	  width: 3rem;
	}
	&:after {
	  width: 1.2rem;
	  right: 2.3rem;
	}
  }
}
/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
  html{
    font-size: 19px;
  }
  .search-input {
	width: size(120);
  }
  .prod-img-col {
	order: -1;
	margin-bottom: 2rem;
  }
  .colors-line {
	flex: 0 0 75%;
	max-width: 75%;
  }
  .input-line {
	margin-bottom: 1rem !important;
  }
}
/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
  html{
    font-size: 19px;
  }
  .colors-line {
	flex: 0 0 85%;
	max-width: 85%;
  }
  .product-link {
	font-size: size(15);
	line-height: size(18);
  }
}
/* Medium devices (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  html{
    font-size: 18px;
  }
  .foo-menu {
	margin-bottom: 2rem;
  }
  .header-nav-col {
	clip-path: unset;
	padding: size(15) size(100) 0 5rem;
	&:before {
	  clip-path: polygon(0 0, 100% 0, 100% 100%, 2.5rem 100%);
	}
	&:after {
	  clip-path: polygon(0 0, calc(100% - 2.5rem) 0, 100% 100%, 2.5rem 100%);
	}
  }
  .header-row {
	position: relative;
  }
  .header-logo-col {
	clip-path: polygon(0 0, calc(100% - 3rem) 0, 100% 100%, 0 100%);
	position: absolute;
	left: 0;
	background: white;
	height: 100%;
	top: 0;
	padding: 0.2rem 2rem 0.2rem 1rem !important;
  }
}
@media (max-width: 767px) {
  .catalog-trigger {
	display: flex;
  }
  .close-side {
	display: block;
  }
  .sidebar-col {
	position: fixed;
	overflow-y: auto;
	height: 100%;
	top: 0;
	right: 0;

	&::-webkit-scrollbar {
	  display: none;
	}
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	background-color: #ffffff;
	padding-left: 1rem;
	transform: translateX(100%);
	transition: transform .5s;
	z-index: 9999;

	&.active-cat {
	  transform: translateX(0);
	  transition: transform .5s;
	}
  }
}
@media (max-width: 650px) {
  .header-nav-col {
	padding: size(15) size(100) 0 4rem;
	flex: 0 0 80%;
	max-width: 80%;
	&:before {
	  clip-path: polygon(0 0, 100% 0, 100% 100%, 2rem 100%);
	}
	&:after {
	  width: size(40);
	  right: size(40);
	  clip-path: polygon(0 0, calc(100% - 2rem) 0, 100% 100%, 2rem 100%);
	}
  }
  .header-row {
	position: relative;
  }
  .header-logo-col {
	clip-path: polygon(0 0, calc(100% - 2rem) 0, 100% 100%, 0 100%);
	padding: 0.2rem 1rem 0.2rem 0.5rem !important;
	flex: 0 0 30%;
	max-width: 30%;
  }
  .colors-line {
	flex: 0 0 100%;
	max-width: 100%;
  }
  .main-title {
	font-size: size(26);
	line-height: size(28);
	min-height: size(50);
  }
}
/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
  html{
    font-size: 17px;
  }
  .header-nav-col {
	padding: size(15) size(75) 0 4rem;
  }
  .header-logo-col {
	padding: 0.2rem 1rem 0.2rem 0 !important;
	img {
	  max-width: 5rem;
	}
  }
  .search-input {
	width: size(100);
  }
  .contact-list-item {
	margin-bottom: 1.5rem;
  }
}







/*
::::: Custom media queries :::::
*/

@media (max-width: 400px) {
  .header-logo-col {
	flex: 0 0 32%;
	max-width: 32%;
	img {
	  max-width: 3rem;
	}
  }
  .form-col {
	.main-title {
	  font-size: size(22);
	  line-height: size(24);
	  min-height: size(40);
	  padding: 0 2rem 0 1rem;
	  clip-path: polygon(0 0, calc(100% - 0.5rem) 0, 100% 100%, 0.5rem 100%);
	  &:before, &:after {
		clip-path: polygon(0 0, calc(100% - 0.5rem) 0, 100% 100%, 0.5rem 100%);
	  }
	  &:before {
		width: 1.2rem;
	  }
	  &:after {
		width: 0.6rem;
		right: 1.2rem;
	  }
	}
  }
  .header-nav-col {
	padding: 0.8333333333rem 3.1666666667rem 0 2rem;
	&:before {
	  width: 3rem;
	}
	&:after {
	  display: none;
	}
  }
}
