body {
  text-align: left;
  direction: ltr;
}

.about-text ul {
  margin-right: unset;
  margin-left: 1rem;
}

.product-info-block ul {
  margin-left: 1rem;
  margin-right: unset;
}

.wpcf7-form * {
  direction: ltr !important;
}
.wpcf7-form ::placeholder {
  text-align: left;
}
.wpcf7-form ::-webkit-input-placeholder, .wpcf7-form :-moz-placeholder, .wpcf7-form :-ms-input-placeholder {
  text-align: left;
}

div.wpcf7 input[type=text],
div.wpcf7 input[type=email],
div.wpcf7 input[type=tel],
div.wpcf7 textarea {
  text-align: left;
  padding-right: 8px;
  padding-left: 1.6666666667rem;
  background-position: 6px center;
}

div.wpcf7 input[type=submit] {
  position: relative;
  padding-right: 8px;
  padding-left: 1.6666666667rem;
  background-position: 6px center;
  padding: 0 8px;
}

.product-link.pop-product-trigger:after {
  margin-left: 5px;
  margin-right: unset;
}
.product-link.to-cat-link:after {
  content: url("../icons-all/back-icon.png");
  margin-left: 7px;
  margin-right: unset;
}

.sidebar-col {
  margin-left: -15px;
  margin-right: unset;
}

.category-link {
  padding: 5px 3.0555555556rem 5px 1.1111111111rem;
  clip-path: polygon(0 0, calc(100% - 1rem) 0, 100% 100%, 0 100%);
}
.category-link:before {
  left: unset;
  right: 0.8333333333rem;
  clip-path: polygon(0 0, calc(100% - 1rem) 0, 100% 100%, 1rem 100%);
}
.category-link:after {
  content: url("../icons-all/after-arrow.png");
  margin-left: 10px;
  margin-right: unset;
  transition: margin-left 0.5s;
}
.category-link:hover {
  color: #fefefe;
}
.category-link:hover:after {
  margin-left: 20px;
  margin-right: unset;
  transition: margin-left 0.5s;
}

.fixed-socials {
  left: unset;
  right: 0;
}

.articul-link {
  padding: 5px 1.3888888889rem 5px 0.8333333333rem;
  clip-path: polygon(0% 0%, 85% 0%, 100% 100%, 0% 100%);
}

.form-part select {
  -webkit-appearance: none;
  padding-left: 1.6666666667rem;
  background-position: calc(100% - 0.5rem) center;
  background-size: 0.6666666667rem;
  background-image: url("../icons-all/select-arrow.png");
}
.form-part input[type=text] {
  padding-right: unset;
  padding-left: 1.6666666667rem;
  background-position: 10px center;
}

.category-link:after {
  content: url("../icons-all/after-arrow-ltr.png");
  margin-left: 10px;
  margin-right: unset;
  transition: margin-left 0.5s;
}
.category-link:hover:after {
  margin-right: unset;
  margin-left: 20px;
  transition: margin-left 0.5s;
}

@media (min-width: 1200px) {
  .sidebar-col {
    margin-top: 0;
  }
}
@media (max-width: 1500px) {
  .main-title {
    padding: 0 4rem 0 2rem;
  }

  .header-nav-col {
    padding: 0.5555555556rem 3rem 0 2rem;
    clip-path: polygon(0 0, calc(100% - 1rem) 0, 100% 100%, 1rem 100%);
  }
  .header-nav-col:before, .header-nav-col:after {
    clip-path: polygon(0 0, calc(100% - 1rem) 0, 100% 100%, 1rem 100%);
  }
  .header-nav-col:before {
    width: 3rem;
  }
  .header-nav-col:after {
    width: 1rem;
    right: 2.2222222222rem;
  }
}
@media (max-width: 992px) {
  #MainNav ul li {
    padding: 0 8px;
  }
  #MainNav ul li a {
    font-size: 0.7777777778rem;
  }
  #MainNav ul li:first-child {
    padding: 0 8px 0 0;
  }
  #MainNav ul li:last-child {
    padding: 0 0 0 8px;
  }
}
@media (max-width: 768px) {
  .main_menu {
    padding-top: 1rem;
  }

  nav#MainNav {
    right: unset;
    left: -200px;
  }
  nav#MainNav.active {
    right: unset;
    left: 0;
  }

  #MobNavBtn {
    right: unset;
    left: 100%;
  }

  .header-logo-col {
    right: 0;
    left: unset;
    clip-path: polygon(2rem 0, 100% 0, 100% 100%, 0 100%);
    padding: 0 !important;
  }

  #MobNavBtn, nav#MainNav {
    -webkit-border-top-left-radius: unset;
    -webkit-border-bottom-left-radius: unset;
    -moz-border-radius-topleft: unset;
    -moz-border-radius-bottomleft: unset;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .header-nav-col {
    padding: 0.5555555556rem 3rem 0 3rem;
    clip-path: unset;
  }
  .header-nav-col:before, .header-nav-col:after {
    content: "";
    display: none;
  }
}
@media (max-width: 767px) {
  .close-side {
    right: unset;
    left: 93%;
  }

  .catalog-trigger {
    right: unset;
    left: 0;
  }

  .sidebar-col {
    transform: translateX(-100%);
    right: unset;
    left: 0;
    padding-left: unset;
    padding-right: 1rem;
  }
  .sidebar-col.active-cat {
    transform: translateX(0);
    transition: transform 0.5s;
  }
}

/*# sourceMappingURL=ltr.css.map */
