body{
  text-align: left;
  direction: ltr;
}
$base-size: 18;

@function size($target, $context: $base-size) {
  @return ($target / $context) * 1rem;
}
.about-text {
  ul {
	margin-right: unset;
	margin-left: 1rem;
  }
}
.product-info-block {
  ul {
	margin-left: 1rem;
	margin-right: unset;
  }
}
@mixin input-style-ltr {
  padding-right: 8px;
  padding-left: size(30);
  background-position: 6px center;
}
@mixin form-text-ltr {
  text-align: left;
}
.wpcf7-form {
  * {
	direction: ltr !important;
  }
  ::placeholder {
	@include form-text-ltr;
  }
  ::-webkit-input-placeholder, :-moz-placeholder, :-ms-input-placeholder {
	@include form-text-ltr;
  }
}
div.wpcf7 input[type="text"],
div.wpcf7 input[type="email"],
div.wpcf7 input[type="tel"],
div.wpcf7 textarea {
  @include form-text-ltr;
  @include input-style-ltr;
}
div.wpcf7 input[type="submit"] {
  position: relative;
  @include input-style-ltr;
  padding: 0 8px;
}
//Product
.product-link {
  &.pop-product-trigger {
	&:after {
	  margin-left: 5px;
	  margin-right: unset;
	}
  }
  &.to-cat-link {
	&:after {
	  content: url("../icons-all/back-icon.png");
	  margin-left: 7px;
	  margin-right: unset;
	}
  }
}
//Sidebar
.sidebar-col {
  margin-left: -15px;
  margin-right: unset;
}
.category-link {
  padding: 5px size(55) 5px size(20);
  clip-path: polygon(0 0, calc(100% - 1rem) 0, 100% 100%, 0 100%);
  &:before {
	left: unset;
	right: size(15);
	clip-path: polygon(0 0, calc(100% - 1rem) 0, 100% 100%, 1rem 100%);
  }
  &:after {
	content: url("../icons-all/after-arrow.png");
	margin-left: 10px;
	margin-right: unset;
	transition: margin-left .5s;
  }
  &:hover {
	color: #fefefe;
	&:after {
	  margin-left: 20px;
	  margin-right: unset;
	  transition: margin-left .5s;
	}
  }
}
.fixed-socials {
  left: unset;
  right: 0;
}
.articul-link {
  padding: 5px size(25) 5px size(15);
  clip-path: polygon(0% 0%, 85% 0%, 100% 100%, 0% 100%);
}
.form-part {
  select {
	-webkit-appearance: none;
	padding-left: size(30);
	background-position: calc(100% - 0.5rem) center;
	background-size: size(12);
	background-image: url("../icons-all/select-arrow.png");
  }
  input[type="text"] {
	padding-right: unset;
	padding-left: size(30);
	background-position: 10px center;
  }
}
.category-link {
  &:after {
	content: url("../icons-all/after-arrow-ltr.png");
	margin-left: 10px;
	margin-right: unset;
	transition: margin-left .5s;
  }
  &:hover {
	&:after {
	  margin-right: unset;
	  margin-left: 20px;
	  transition: margin-left .5s;
	}
  }
}

@media (min-width: 1200px) {
  .sidebar-col {
	margin-top: 0;
  }
}
//Responsive
@media (max-width: 1500px) {
  .main-title {
	padding: 0 4rem 0 2rem;
  }
  .header-nav-col {
	padding: size(10) 3rem 0 2rem;
	clip-path: polygon(0 0, calc(100% - 1rem) 0, 100% 100%, 1rem 100%);
	&:before, &:after {
	  clip-path: polygon(0 0, calc(100% - 1rem) 0, 100% 100%, 1rem 100%);
	}
	&:before {
	  width: 3rem;
	}
	&:after {
	  width: 1rem;
	  right: size(40);
	}
  }
}
@media (max-width: 992px) {
  #MainNav{
	ul{
	  li{
		padding: 0 8px;
		a{
		  font-size: size(14);
		}
		&:first-child {
		  padding: 0 8px 0 0;
		}
		&:last-child {
		  padding: 0 0 0 8px;
		}
	  }
	}
  }
}
@media (max-width: 768px) {
  .main_menu {
	padding-top: 1rem;
  }
  nav#MainNav {
	right: unset;
	left: -200px;
	&.active {
	  right: unset;
	  left: 0;
	}
  }
  #MobNavBtn {
	right: unset;
	left: 100%;
  }
  .header-logo-col {
	right: 0;
	left: unset;
	clip-path: polygon(2rem 0, 100% 0, 100% 100%, 0 100%);
	padding: 0 !important;
  }
  #MobNavBtn, nav#MainNav {
	-webkit-border-top-left-radius: unset;
	-webkit-border-bottom-left-radius: unset;
	-moz-border-radius-topleft: unset;
	-moz-border-radius-bottomleft: unset;
	border-top-left-radius: unset;
	border-bottom-left-radius: unset;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
  }
  .header-nav-col {
	padding: size(10) 3rem 0 3rem;
	clip-path: unset;
	&:before, &:after {
	  content: '';
	  display: none;
	}
  }
}
@media (max-width: 767px) {
  .close-side {
	right: unset;
	left: 93%;
  }
  .catalog-trigger {
	right: unset;
	left: 0;
  }
  .sidebar-col {
	transform: translateX(-100%);
	right: unset;
	left: 0;
	padding-left: unset;
	padding-right: 1rem;
	&.active-cat {
	  transform: translateX(0);
	  transition: transform .5s;
	}
  }
}
