@import "mixins";
@import "reset";
@import "fonts";
@import "vars";
@import "colors";
@import "setup";
@import "hover";
@import "animate";
@import "forms";
@import "header-footer";



body{
  font-family: $heebo;
  text-align: right;
  direction: rtl;
}
.wow {
  visibility: hidden;
}
.main-block {
  position: relative;
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  margin-bottom: size(60);
  background-image: url("../img/main-back.png");
}
.main-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.65);
}
.top-line {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: -1rem;
  z-index: 5;
}
.base-link {
  @include base-link;
  background-color: $blue-main;
}
.main-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fefefe;
  font-size: size(39);
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(40);
  text-align: center;
  width: auto;
  min-height: size(63);
  padding: 0 size(100);
  clip-path: polygon(0 0, calc(100% - 2rem) 0, 100% 100%, 2rem 100%);
  background-color: $green-main;
  margin-bottom: size(20);
  &:before, &:after {
	position: absolute;
	content: '';
	display: block;
	background-color: #006d33;
	height: 100%;
	clip-path: polygon(0 0, calc(100% - 2rem) 0, 100% 100%, 2rem 100%);
  }
  &:before {
	width: size(79);
	right: 0;
  }
  &:after {
	width: size(45);
	right: size(59);
  }
}
.category-link {
  position: relative;
  display: flex;
  align-items: center;
  color: #fefefe;
  font-size: size(16);
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(17);
  text-align: center;
  padding: 5px size(20) 5px size(55);
  clip-path: polygon(1rem 0%, 100% 0%, 100% 100%, 0% 100%);
  margin-bottom: 8px;
  background-color: $green-main;
  &:before {
	content: '';
	display: block;
	width: 1.5rem;
	top: 0;
	height: 100%;
	position: absolute;
	left: size(15);
	background-color: rgba(0, 0, 0, 0.3);
	clip-path: polygon(1rem 0%, 100% 0%, 0.5rem 100%, 0% 100%);
  }
  &:after {
	content: url("../icons-all/after-arrow.png");
	margin-right: 10px;
	transition: margin-right .5s;
  }
  &:hover {
	color: #fefefe;
	&:after {
	  margin-right: 20px;
	  transition: margin-right .5s;
	}
  }
}
.articul-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  background-color: #ffffff;
}
.articul-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: size(42);
  color: #ffffff;
  font-size: size(17);
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(18);
  text-align: center;
  background-color: #747474;
  padding: 5px size(15) 5px size(25);
  clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
}
//Product item
.product-col {
  margin-bottom: 30px;
}
.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
  border: 1px solid #7e7c7e;
}
.post-image {
  position: relative;
  display: flex;
  background-size: contain;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  &:after {
	content: '';
	display: block;
	padding-bottom: 63%;
  }
}
.post-title, .post-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: size(39);
  text-align: center;
  padding: 10px size(20);
}
.post-title {
  background-color: #ebebeb;
  color: #231f20;
  font-size: size(14);
  line-height: size(16);
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  flex-grow: 1;
}
.post-link {
  color: #ffffff;
  font-size: size(16);
  line-height: size(18);
  font-weight: 500;
  background-color: $blue-main;
  &:hover {
	color: #ffffff;
	background-color: $green-main;
	transition: background-color .5s;
  }
}
.category-item {
  .post-image {
	background-size: cover;
  }
  .post-title {
	font-size: size(18);
	font-weight: 700;
	line-height: size(20);
  }
}
//Sidebar
.sidebar-col, .category-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
.sidebar-col {
  margin-right: -15px;
}
.category-block {
  margin-bottom: size(28);
}
.cat-block-title {
  color: #000000;
  font-size: size(20);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(22);
  text-align: center;
  margin-bottom: 5px;
}
//Page about
.about-body {
  background-color: #9b9ca2;
  padding: size(30) 0 size(100) 0;
}
.about-text {
  * {
	color: #ffffff;
  }
  p, li {
	font-size: size(18);
	font-weight: 300;
	line-height: size(20);
  }
  ul {
	list-style: disc;
	margin-right: 1rem;
  }
  p, ul {
	margin-bottom: size(30);
  }
  h1 {
	font-size: size(36);
	line-height: size(38);
  }
  h2 {
	font-size: size(32);
	line-height: size(34);
  }
  h3 {
	font-size: size(28);
	line-height: size(30);
  }
  h4 {
	font-size: size(26);
	line-height: size(25);
  }
  h5 {
	font-size: size(22);
	line-height: size(24);
  }
  h6 {
	font-size: size(20);
	line-height: size(21);
  }
}
.about-text-photo {
  color: #ffffff;
  font-size: size(18);
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(20);
}
.about-img {
  box-shadow: 11px 5px 10px rgba(46, 46, 46, 0.35);
  border: 10px solid #ffffff;
  background-color: rgba(183, 184, 189, 0.38);
}
//Product
.product-title {
  color: #000000;
  font-size: size(32);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(35);
  margin-bottom: size(30);
}
.product-files-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.product-info-block {
  margin-top: 1rem;
  border-bottom: 1px solid $blue-main;
  * {
	color: #000000;
  }
  h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
  }
  p, li {
	color: #000000;
	font-size: size(19);
	font-weight: 300;
	font-style: normal;
	letter-spacing: normal;
	line-height: size(27);
  }
  p, ul {
	margin-bottom: size(30);
  }
  ul {
	list-style: disc;
	margin-right: 1rem;
  }
}
.product-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blue-main;
  padding: size(10) 2rem;
  color: #ffffff;
  font-size: size(24);
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(25);
  text-align: center;
  margin-bottom: size(25);
  clip-path: polygon(1rem 0, 100% 0, calc(100% - 1rem) 100%, 0 100%);
  &:hover {
	color: #ffffff;
	background-color: $green-main;
	transition: background-color .5s;
  }
  &.art-link {
	background-color: #006d33;
	&:hover {
	  color: #ffffff;
	}
  }
  &.pop-product-trigger {
	cursor: pointer;
	&:after {
	  content: url("../icons-all/plus.png");
	  margin-right: 5px;
	}
  }
  &.to-cat-link {
	&:after {
	  content: url("../icons-all/back-icon.png");
	  margin-right: 7px;
	}
  }
}
.product-photo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #b6b6b8;
  &:after {
	position: absolute;
	content: '';
	right: size(20);
	bottom: size(20);
	display: flex;
	width: size(36);
	height: size(36);
	background-image: url("../icons-all/zoom-in.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
  }
}
.colors-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: size(39);
  box-shadow: inset 0 0 10px rgba(123, 123, 123, 0.57);
  background-color: #f5ebda;
  color: #58585a;
  font-size: size(24);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(26);
  margin: size(40) 0 size(20) 0;
  padding: 4px size(15);
}
.colors-line {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  flex: 0 0 70%;
  max-width: 70%;
}
.color-number {
  color: #58585a;
  font-size: size(16);
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(26);
  text-align: center;
}
.color-name {
  color: #58585a;
  font-size: 11px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 11px;
  text-align: center;
}
.color-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
  padding-bottom: 10px;
  border-bottom: 1px solid #b35c53;
  margin-bottom: size(15);
  img {
	width: size(75);
  }
}
.colors-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.form-subtitle {
  font-size: size(17);
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(18);
  text-align: center;
}
//Contact page
.contact-content-page {
  * {
	text-align: center;
  }
  p, li {
	color: #000000;
	font-size: size(22);
	font-weight: 300;
	font-style: normal;
	letter-spacing: normal;
	line-height: size(35);
  }
  ul {
	list-style: disc;
  }
  h1 {
	font-size: size(36);
	line-height: size(37);
  }
  h2 {
	font-size: size(32);
	line-height: size(34);
  }
  h3 {
	font-size: size(30);
	line-height: size(32);
  }
  h4 {
	font-size: size(28);
	line-height: size(30);
  }
  h5{
	font-size: size(26);
	line-height: size(28);
  }
  h6 {
	font-size: size(24);
	line-height: size(26);
  }
  h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
  }
}
.contact-info {
  color: #000000;
  font-size: size(24);
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: size(26);
  text-align: center;
  margin-bottom: 1rem;
  transition: color .5s;
  &:hover {
	color: $blue-main;
	transition: color .5s;
  }
}
.contact-list-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  img {
	margin-bottom: 1rem;
  }
}
.catalog-trigger {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  padding: 5px;
  top: 20%;
  right: 0;
  z-index: 22;
  background-color: #ffffff;
  cursor: pointer;
  svg {
	width: size(30);
	height: auto;
	fill: $blue-main;
	transition: fill .5s;
  }
  &:hover {
	svg {
	  fill: $green-main;
	  transition: fill .5s;
	}
  }
}
.close-side {
  display: none;
  position: absolute;
  top: 5px;
  right: 90%;
  cursor: pointer;
  img {
	width: 1rem;
  }
}
.bread-row {
  margin-bottom: 1rem;
  span, a {
	color: #000000;
	font-size: size(22);
	line-height: size(24);
	font-weight: 300;
	&:hover {
	  color: $blue-main;
	  transition: color .5s;
	}
  }
}

@import "responsive";
